.main-menu {
  position: fixed;
  top:0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: white;
  opacity:0;

  animation: fadeIn ease-in-out 500ms;
  -webkit-animation: fadeIn ease-in-out 500ms;
  -moz-animation: fadeIn ease-in-out 500ms;
  -o-animation: fadeIn ease-in-out 500ms;
  -ms-animation: fadeIn ease-in-out 500ms;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;

  & > .container {
    position: relative;
  }
}

@media (min-width: 768px) { 
  .main-menu {
    background: rgba(0,0,0,.8);
  }
  .main-menu:before {
    content: '';
    display: block;
    position: absolute;
    top:0; left:0;
    background: white;
    width: 50%;
    height: 100vh;
    width: 50vw;
  }
  .nav-link,
  .nav-link h3 {
    color: white !important;
  }
}

.main-menu--right a,
.main-menu--right .btn-link {
  color: white;
}

.open-close-icon {
  position: fixed;
  top: 20px;
  right: 20px;

  width: 50px;
  height: 50px;
  padding: 5px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #DEDEDE;
  background: white;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.open-close-icon span {
  display: block;
  position: relative;
  height: 8px;
  border-radius: 2px;
  width: 100%;
  background: rgb(32,178,170);
  opacity: 1;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;

  -webkit-transition-origin: center center;
  -moz-transition-origin: center center;
  -o-transition-origin: center center;
  transform-origin: center center;
}

.open-close-icon.open span:nth-child(1) {
  -webkit-transform: translateY(15px) rotate(45deg);
  -moz-transform: translateY(15px) rotate(45deg);
  -o-transform: translateY(15px) rotate(45deg);
  transform: translateY(15px) rotate(45deg);
}

.open-close-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.open-close-icon.open span:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(-45deg);
  -moz-transform: translateY(-15px) rotate(-45deg);
  -o-transform: translateY(-15px) rotate(-45deg);
  transform: translateY(-15px) rotate(-45deg);
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
