@namespace Components

<div class="skill-bar">
    <div class="skill-bar--heading">
        <strong>@Heading</strong>
    </div>
    <div class="skill-bar--bar">
        <div class="skill-bar--fill" style="max-width: @PercentageString; animation-delay: @(AnimationDelay)ms"></div>
    </div>
</div>

@code {
    [Parameter]
    public string Heading { get; set; }
    [Parameter]
    public int Percentage { get; set; }
    [Parameter]
    public int AnimationDelay {
        get {
            return _animationDelay;
        }
        set {
            _animationDelay = value;
        }
    }

    private int _animationDelay = 0;

    private string PercentageString {
        get {
            return $"{Percentage}%";
        }
    }
}