@namespace Components
<nav class="container my-4 text-end">
    <NavLink href="" Match="NavLinkMatch.All"><h3>home</h3></NavLink>
    <NavLink href="about"><h3>about</h3></NavLink>
    <NavLink href="projects"><h3>projects</h3></NavLink>
    <NavLink href="resume"><h3>resume</h3></NavLink>
</nav>
