@page "/resume"
@using Components


<h1>Resume</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque libero neque, convallis vitae turpis nec, fermentum cursus quam. Aenean lobortis sollicitudin eros a aliquam. Proin bibendum purus ut nibh tempor tempor. Duis eu enim vestibulum, auctor magna a, sagittis diam. Sed imperdiet viverra luctus. Pellentesque ac enim non nisl convallis condimentum ac in libero. Donec pellentesque elit nisl, a sagittis ante pretium in. Vivamus et tincidunt libero, ac condimentum mi. Morbi eu interdum enim, ac fringilla tortor. Vestibulum lobortis sem id augue interdum, ac porta felis lobortis. Vestibulum posuere libero a dapibus gravida. Quisque eu justo erat. Mauris at quam et magna lobortis sodales.</p>

<p>Integer non blandit magna. Integer ac lacinia lectus. In consequat, tellus eu sollicitudin tincidunt, ante nulla bibendum mi, nec suscipit neque dolor vitae elit. Aenean tempus auctor dui eu auctor. Aenean aliquet, diam eget sagittis euismod, purus massa tristique elit, laoreet vulputate est quam a est. Nulla pellentesque non libero in vestibulum. Fusce non ex ac ante finibus vulputate. Nulla laoreet risus eu lacinia tempus. Mauris ullamcorper vitae tellus in hendrerit. Ut pretium pellentesque elementum. Nulla id tincidunt nunc. Aliquam vehicula, purus rutrum porttitor suscipit, turpis erat ornare ipsum, et auctor tellus nulla quis metus. Morbi congue felis sit amet vehicula sollicitudin. Aliquam rhoncus neque sapien, sed cursus nibh elementum a. Praesent sit amet mollis ipsum, vitae aliquet felis. Sed condimentum quam nec arcu bibendum, et sodales nunc dictum.</p>

<Skills />