@page "/resume"
@using Components

<div class="container">
  <div class="row">
    <div class="col-6 offset-6">

      <h1>Resume</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque libero neque, convallis vitae turpis nec, fermentum cursus quam. Aenean lobortis sollicitudin eros a aliquam. Proin bibendum purus ut nibh tempor tempor. Duis eu enim vestibulum, auctor magna a, sagittis diam. Sed imperdiet viverra luctus. Pellentesque ac enim non nisl convallis condimentum ac in libero. Donec pellentesque elit nisl, a sagittis ante pretium in. Vivamus et tincidunt libero, ac condimentum mi. Morbi eu interdum enim, ac fringilla tortor. Vestibulum lobortis sem id augue interdum, ac porta felis lobortis. Vestibulum posuere libero a dapibus gravida. Quisque eu justo erat. Mauris at quam et magna lobortis sodales.</p>

      <Skills />
    </div>
  </div>
</div>