@inherits LayoutComponentBase
@using Components

<NavMenu />

<div class="page container-fluid">
    <div class="row">
        <aside class="col-5">
            
        </aside>
        <main class="col-7 py-5">
            @Body
        </main>
    </div>
</div>

<MainMenu />
