@inherits LayoutComponentBase

<div class="page container-fluid">
    <div class="row">
        <aside class="col-5">
            
        </aside>
        <main class="col-7 py-5">
            <NavMenu />
            @Body
        </main>
    </div>
</div>
