
<ul class="nav nav-pills">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="counter">Counter</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="fetchdata">Fetch data</NavLink>
    </li>
</ul>

